{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/post/">
        {% csrf_token %}
        <input type="submit" class="btn-default btn" value="Create Post">
    </form>

    {{ feeds.like_count }}
    {% load static %}
    {% for feed in feeds %}
        <h1>{{ feed.post.user.username }}</h1>
        <img src="{{ feed.post.image_url }}" />
        <h3>{{ feed.post.caption }}</h3>
    {% endfor %}
</body>
</html>